*{
  box-sizing: border-box;
  border: 0;
  padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
  position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    padding: 10px;
}
.header_right{
  margin-right: 50px;
  margin-top: 20px;
}
.header_left{
  margin-left: 50px;
  margin-top: 20px;
}
.header_right, .header_left {
    display: flex;
    justify-content: space-between;
}

ul li{
  display: inline-block;
  margin: 10px;
}
ul li a{
  text-decoration: none;
  text-decoration: none;
  color: grey;
  padding: 15px;
}
ul li a:hover{
  color: black;
}
/* classe prima a personale */
.personal{
  color: black;
}
/* background login e download */
.login{
  background-color: #e8e8ed;
  color: black;
  border-radius: 15px;
}
.app_download{
  background: black;
  color: white;
  padding: 18px;
  border-radius: 15px;
}
.app_download:hover{
  color:white;
  background-color: #494c4e;
}
.login:hover{
  background-color: #E0E0E1;
}

/* div da collegare a js */
#abbonamenti-dropdown{
  width: 230px;
  position: absolute;
  top: 30px;
  left: -160px;

  flex-direction: column;
  justify-content: start;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 4px 0px,
    rgba(0, 0, 0, 0.08) 0px 8px 16px 0px;
  border-radius: 5px;
  padding-right: 40px;
}
#chi_siamo-dropdown{
  width: 225px;
  position: absolute;
  top: 30px;
  left: -130px;

  flex-direction: column;
  justify-content: start;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 4px 0px,
    rgba(0, 0, 0, 0.08) 0px 8px 16px 0px;
  border-radius: 5px;
  padding-right: 30px;
}
#aiuto-dropdown{
  width: 230px;
  position: absolute;
  top: 30px;
  left: -100px;

  flex-direction: column;
  justify-content: start;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 4px 0px,
    rgba(0, 0, 0, 0.08) 0px 8px 16px 0px;
  border-radius: 5px;
  padding-right: 30px;
}
#abbonamenti, #chi_siamo, #aiuto{
  position: relative;
}
