*{
  box-sizing: border-box;
  border: 0;
  padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
  position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}
.header_right{
  margin-right: 50px;
  margin-top: 20px;
}
.header_left{
  margin-left: 50px;
  margin-top: 20px;
}
.header_right, .header_left {
    display: flex;
    justify-content: space-between;
}

ul li{
  display: inline-block;
  margin: 10px;
}
ul li a{
  text-decoration: none;
  text-decoration: none;
  color: grey;
  padding: 15px;
}
ul li a:hover{
  color: black;
}
/* classe prima a personale */
.personal{
  color: black;
}
/* background login e download */
.login{
  background-color: #e8e8ed;
  color: black;
  border-radius: 15px;
}
.app_download{
  background: black;
  color: white;
  padding: 18px;
  border-radius: 15px;
}
.app_download:hover{
  color:white;
  background-color: #494c4e;
}
.login:hover{
  background-color: #E0E0E1;
}
